body {
  margin: 0;
  font-family: 'Bahnschrift', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(232, 49, 0, 0.4); /* Прозрачный оранжевый фон */
  color: currentColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
